<div class="cad">
    <form action="/postagens/update" method="POST">

        {{#each posts}}
            <input placeholder="codigo" type="text" name="id" value="{{id}}" readonly="true">

            <input placeholder="titulo" type="text" name="titulo" value="{{titulo}}">

            <textarea placeholder="conteudo" name="conteudo">{{conteudo}}</textarea><br>

            <input class="btfo" type="submit" value="Alterar">
        {{/each}}

    </form>
</div>