<div class="container">
    <h1>Editar professor</h1>

    <form method="POST" action="/tarefas/{{tarefa.id}}/editar">
        <input type="text" name="descricao" value="{{tarefa.descricao}}" required>

        <label>
            <input type="checkbox" name="concluida" {{#if tarefa.concluida}}checked{{/if}}>
            Concluída
        </label>

        <button type="submit">Salvar</button>
    </form>
</div>