<div class="cad">
    <form action="/add" method="POST">
    <h1>Cadastro de Postagens</h1>
    <input placeholder="titulo" type="text" name="titulo">
    <textarea placeholder="conteudo" name="conteudo"></textarea><br><br>
    <button class="btfo" type="submit">Cadastrar Postagens</button>
    </form>
</div>