<div class="cad">
    <form action="/clientes/add" method="POST">
        <h1>Cadastro de Clientes</h1>

        <input placeholder="Nome" type="text" name="nome"><br><br>
        <input placeholder="Email" type="email" name="email"><br><br>
        <input placeholder="Telefone" type="text" name="telefone"><br><br>

        <button class="btfo" type="submit">Cadastrar Cliente</button>
    </form>
</div>